#accounts-admin.admin-page
  .block-first
    %h2 User Accounts
    %p.admin-hints Search by Username, IP, or Email Address
    = form_tag admin_accounts_path, :method => 'get' do
      = text_field_tag :s, params[:s]
      = submit_tag "Search", :name => nil, :class => "blue-button"
  .block-last
    %table
      %tr
        %th.username Username
        %th.join-date Member Since
        %th.bids Bids
        %th.bonuses Bonuses
        %th.points Points
        %th.email Email
      - @accounts.each do |a|
        %tr
          %td= link_to a.username, [:admin, a]
          %td= a.created_at.to_s :default
          %td= a.credits
          %td= a.bonuses
          %td= number_to_currency a.points
          %td= mail_to a.email
    = will_paginate @accounts
